body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  padding: 20px;
}

.ui.card {
  height: 170px;
  margin: 0px 10px;
}

.ui.cards {
  margin: 20px auto;
  width: 90%;
}

.recipeSearch {
  margin: 30px;
}

.detailedRecipe {
  margin: 10px auto;
  display: inline-block;
}

.recipe {
  margin: 10px auto;
  display: inline-block;
}
